.ui-bar-a{
    background: #f8f8f8 !important;
    color: black;
}
.ui-body-c, .ui-btn-up-a{
    background: #03A9F4 !important;
    color: white;
    border: 0px solid transparent;
}
.ui-btn-up-c, .ui-btn-hover-c:hover{
    background: #e74f3e;
    color: white;
}

input{
    background: white;
}
div.ui-input-text {
    padding: 0px;
    border-radius: 5px;
}

div.ui-input-text input.ui-input-text, div.ui-input-text textarea.ui-input-text, .ui-input-search input.ui-input-text{
    background: #03A9F4 !important;
    height: 130px;
    font-size: 30px;
    text-align: center;
    border-radius: 5px;
    border: 0px solid transparent;
    color: black;
}
.qr-code{
  width: 100%;
  padding-top: 70px;
  padding-right: 70px;
  padding-left: 70px;
}
