<div class="row top-section">
  <div class="col-lg-12">
    <!-- START panel-->
    <div class="panel panel-green">
       <div class="panel-heading">
         Editing promotion details
       </div>
       <div class="panel-body">

         <%= render 'form' %>

         <%= link_to 'Show', @promotion %> |
         <%= link_to 'Back', promotions_path %>
       </div>
    </div>
  </div>
</div>



