.cw-retailers-show-page {
  .product-list {
    padding: 0;
    margin: 0;

    overflow-x: hidden;
    overflow-y: auto;
    list-style: none;
  }

  .product {
    display: flex;
    align-items: center;

    width: 100%;
    min-height: 60px;
    padding: 10px 15px;
    border-bottom: 
  }

  .product-title {

  }

  .product-price {

  }
}

.cw-retailers-show-footer {
  .cw-hint {

  }

  .member-info {

  }

  .member-info-points {

  }

  .member-info-number {

  }
}