<div class="container chart-header">

	<%= link_to "By day", analysis_day_path, class: "btn btn-primary" %>
	<%= link_to "By week", analysis_week_path, class: "btn btn-primary" %>
	<%= link_to "By month", analysis_month_path, class: "btn btn-primary" %>

</div>