<!DOCTYPE html>
<html>
<head>
  <title>快享积分</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <%= stylesheet_link_tag :jmobile %>
</head>
<body>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">快享积分</span>
      </div>
    </header>
    <%= yield %>
  </div>
  <%= javascript_include_tag :jmobile %>
</body>
</html>
